@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.75vw;
  color: white;
  font-family: "Kanit", sans-serif;
}

html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

h2 {
  font-size: 1.15rem;
  text-transform: capitalize;
}

p,
a {
  font-size: 0.7rem;
  font-weight: 200;
  text-transform: capitalize;
  text-decoration: none;
}

a {
  cursor: url("../images/pointinghand.svg"), auto;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  position: relative;
  background-color: #2a272a;
  cursor: url("../images/cursor_3.svg"), auto;
}
body nav {
  width: 100%;
  height: 8vh;
  position: absolute;
  z-index: 2;
  top: 0;
  padding: 1% 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body nav .left {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
body nav .left .image {
  width: 2rem;
  aspect-ratio: 1/1;
  background: url("../images/logo.png") center/100% no-repeat;
  background-color: rgba(41, 38, 41, 0.6);
  border-radius: 50%;
}
body nav .middle {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
body nav .middle a {
  width: 20%;
  padding: 1.2% 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: rgba(41, 38, 41, 0.6);
}
body nav .middle a:first-of-type {
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}
body nav .middle a:last-of-type {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
body nav .middle a .material-symbols-outlined {
  font-size: 0.75rem;
}
body nav .middle a p {
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
}
body nav .middle .active .material-symbols-outlined {
  color: #f6552e;
}
body nav .middle .active p {
  color: #f6552e;
}
body nav .middle .slider {
  position: absolute;
  width: 20%;
  height: 5px;
  background-color: #f6552e;
  border-radius: 30%;
  z-index: 2;
  bottom: -5px;
  left: 0;
  border-left: 2vw solid transparent;
  border-right: 2vw solid transparent;
  background-clip: padding-box;
}
body .right {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
body .right a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.5% 8%;
  background-color: rgba(41, 38, 41, 0.6);
  border-radius: 30px;
}
body .right a:last-of-type {
  background-color: #f6552e;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
.container::-webkit-scrollbar {
  display: none;
}
.container section {
  width: 100%;
  height: 100vh;
  padding: 2vh 2vw;
  padding-top: 9vh;
  flex-shrink: 0;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.container section h1 {
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 100;
}
.container section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Adjust the background color and opacity to create the dimming effect */
  background-color: rgba(0, 0, 0, 0.5019607843); /* Adjust the alpha (last value) for darkness */
  z-index: -1; /* Push behind the content */
}
.container #home {
  background: url("/images/hills4.webp") center/cover no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.container #home .left,
.container #home .right {
  width: 50%;
  height: 100%;
  border: 1px solid white;
  padding: 2vh 2vw;
}
.container #home .left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.container #home .left p {
  width: 60%;
}
.container #home .right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.container #technologies {
  background: #131013;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container #technologies img {
  width: 200px;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.container #services {
  background: url("/images/bungalow4.webp") center/cover no-repeat;
  background-attachment: fixed;
}
.container #clients {
  background: #2a272a;
}
.container #contact {
  background: url("/images/hills2.webp") center/cover no-repeat;
  background-attachment: fixed;
}/*# sourceMappingURL=styles.css.map */